.cursor-pointer {
  cursor: pointer !important;
}
.cursor-crosshair {
  cursor: crosshair !important;
}
.cursor-crosshair {
  cursor: crosshair !important;
}
.cursor-zoom-in {
  cursor: zoom-in !important;
}
.cursor-zoom-out {
  cursor: zoom-out !important;
}
.cursor-grab {
  cursor: grab !important;
}
.cursor-grabbing {
  cursor: grabbing !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.user-select-all {
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
}

.user-select-auto {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  user-select: auto !important;
}

.user-select-none {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
}